<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visionappseestore.android" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_change_password"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            >
        </activity>
        <activity
            android:name=".MainStoreActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <service android:name=".service.UpdateService" />

        <service android:name=".updater.UpdaterService" android:process=":hascode_process" />

        <receiver android:name=".updater.UpdaterReceiver" android:process=":hascode_process" />

        <receiver android:name=".updater.UpdaterSetup" android:process=":hascode_process">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>

</manifest>
