<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.visionapps.storevisionapps" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_change_password"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            >
        </activity>
        <activity
            android:name=".MainStoreActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
